<!DOCTYPE html>
<html>
<head>
  <title>My Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- Navigation bar should be here. because it shoulbe
be there in all pages.-->

<%= render 'layouts/navigation' %>
<div class="container">
  <%= yield %>
</div>


</body>
</html>
